{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{% block page_checkout_confirm_address %}
    {{ parent() }}

    {% block alternativeShippingAddress %}
        {% if config('AlengoShippingAddress.config.altShippingAddressActive')|default(false) %}

            <form action="{{ path('frontend.alengo.save_shipping_address') }}"
                  data-action="{{ path('frontend.alengo.save_shipping_address') }}"
                  method="post" class="alengo-shipping-address-form mb-5"
                  id="shippingAddressForm">

                {% set checked = '' %}
                {% set collapsed = 'collapse' %}

                {% if app.session.get('altShippingAddress').altShippingAddress.active|default(false) %}
                    {% set checked = 'checked="checked"' %}
                    {% set collapsed = '' %}
                {% endif %}

                <div class="card-title mt-4 mb-2 form-check">
                    <input type="checkbox"
                           value="1" class="form-check-input" id="altShippingAddressCheckbox"
                           name="altShippingAddress[active]" data-save-alt-shipping-address="true"
                            {{ checked }}
                           onchange="toggleAltShippingAddress()">
                    <label for="altShippingAddressCheckbox">{{ "alengo.alternativeShippingAddress"|trans|sw_sanitize }}</label>
                </div>

                <div id="altShippingAddressContainer" class="{{ collapsed }} alt-shipping-address-container">

                    {% set csvAddresses = config('AlengoShippingAddress.config.altShippingAddressCsvAddresses')|default('') %}
                    {% if csvAddresses %}
                        {% set rows = csvAddresses|split('\n') %}
                        {% set addressArray = rows|map(row => row|split(';')) %}
                    {% endif %}

                    {% if addressArray %}
                        <p class="m-0 mt-5 mb-3 fs-4 fw-bold">{{ "alengo.selectPredefinedShippingAddress"|trans|sw_sanitize }}</p>
                        <style>
                            .table.table-striped tbody td {
                                vertical-align: middle;
                            }

                            @media (max-width: 640px) {
                                .table-responsive {
                                    display: block;
                                    overflow-x: auto;
                                    width: 100%;
                                }

                                .table-responsive table {
                                    width: 100%;
                                    border-collapse: collapse;
                                }

                                .table-responsive thead {
                                    display: none;
                                }

                                .table-responsive tbody {
                                    display: inline-block;
                                    width: 100%;
                                }

                                .table-responsive tbody tr {
                                    display: block;
                                    margin-bottom: 1rem;
                                    border: 1px solid #ddd;
                                    padding: 0.5rem;
                                }

                                .table-responsive tbody tr:nth-child(odd) {
                                    background-color: #f9f9f9;
                                }

                                .table-responsive tbody tr:nth-child(odd) > * {
                                    --bs-table-accent-bg: transparent;
                                }

                                .table-responsive tbody td {
                                    display: flex;
                                    flex-flow: row wrap;
                                    justify-content: flex-start;
                                    padding: 0.5rem 0;
                                }

                                .table-responsive tbody td:first-child {
                                    padding-top: 0;
                                }

                                .table-responsive tbody td:last-child {
                                    border-bottom: 0;
                                    padding-bottom: 0;
                                }

                                .table-responsive tbody td::before {
                                    content: attr(data-label);
                                    font-weight: bold;
                                    flex-basis: 100%;
                                }
                            }
                        </style>
                        <table class="table table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>{{ "address.companyNameLabel"|trans|sw_sanitize }}</th>
                                <th>{{ "address.streetLabel"|trans|sw_sanitize }}</th>
                                <th>{{ "address.zipcodeLabel"|trans|sw_sanitize }}</th>
                                <th>{{ "address.cityLabel"|trans|sw_sanitize }}</th>
                                <th style="width: 120px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for address in addressArray %}
                                {% if address|length > 1 %}
                                    {% set addressHash = (address[0] ~ address[1] ~ address[2] ~ address[3])|md5 %}
                                    <tr>
                                        <td data-label="{{ "address.companyNameLabel"|trans|sw_sanitize }}">{{ address[0]|default('') }}</td>
                                        <td data-label="{{ "address.streetLabel"|trans|sw_sanitize }}">{{ address[1]|default('') }}</td>
                                        <td data-label="{{ "address.zipcodeLabel"|trans|sw_sanitize }}">{{ address[2]|default('') }}</td>
                                        <td data-label="{{ "address.cityLabel"|trans|sw_sanitize }}">{{ address[3]|default('') }}</td>
                                        <td data-label="">
                                            <span>
                                                <input type="button" value="{{ "alengo.select"|trans|sw_sanitize }}"
                                                       class="btn btn-primary"
                                                       data-save-alt-shipping-address="true"
                                                       data-action="{{ path('frontend.alengo.save_shipping_address') }}"
                                                       onclick="document.getElementById('altShippingAddressCompany').value = '{{ address[0] }}';
                                                               document.getElementById('altShippingAddressStreet').value = '{{ address[1] }}';
                                                               document.getElementById('altShippingAddressZipcode').value = '{{ address[2] }}';
                                                               document.getElementById('altShippingAddressCity').value = '{{ address[3] }}';
                                                               this.nextElementSibling.style.display = 'inline-block';">
                                                <span class="address-checkmark" style="display: none; color: green; margin-left: 10px;">✔</span>
                                            </span>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}


                    <p class="m-0 mt-5 mb-3 fs-4 fw-bold">{{ "alengo.customiseDeliveryAddress"|trans|sw_sanitize }}</p>

                    {% if config('AlengoShippingAddress.config.altShippingAddressChangeName')|default(false) %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="form-label"
                                       for="altShippingAddressFirstName">{{ "account.personalFirstNameLabel"|trans|sw_sanitize }}</label>
                                <input type="text" class="form-control" id="altShippingAddressAddressFirstName"
                                       placeholder="{{ "account.personalFirstNamePlaceholder"|trans|striptags }}"
                                       name="altShippingAddress[firstName]" value="{{ app.session.get('altShippingAddress').altShippingAddress.firstName|default(context.extensions.employee.firstName|default('')) }}"
                                       data-save-alt-shipping-address="true"
                                       data-action="{{ path('frontend.alengo.save_shipping_address') }}">
                            </div>

                            <div class="form-group col-md-6">
                                <label class="form-label"
                                       for="altShippingAddressLastname">{{ "account.personalLastNameLabel"|trans|sw_sanitize }}</label>
                                <input type="text" class="form-control" id="altShippingAddressLastname"
                                       placeholder="{{ "account.personalLastNamePlaceholder"|trans|striptags }}"
                                       name="altShippingAddress[lastName]" value="{{ app.session.get('altShippingAddress').altShippingAddress.lastName|default(context.extensions.employee.lastName|default('')) }}"
                                       data-save-alt-shipping-address="true"
                                       data-action="{{ path('frontend.alengo.save_shipping_address') }}">
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="form-group">
                            <label class="form-label"
                                   for="altShippingAddressCompany">{{ "address.companyNameLabel"|trans|sw_sanitize }}</label>
                            <input type="text" class="form-control" id="altShippingAddressCompany"
                                   placeholder="{{ "address.companyNamePlaceholder"|trans|striptags }}"
                                   name="altShippingAddress[company]" value="{{ app.session.get('altShippingAddress').altShippingAddress.company|default('') }}"
                                   data-save-alt-shipping-address="true"
                                   data-action="{{ path('frontend.alengo.save_shipping_address') }}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="form-label"
                                   for="altShippingAddressStreet">{{ "address.streetLabel"|trans|sw_sanitize }}</label>
                            <input type="text" class="form-control" id="altShippingAddressStreet"
                                   placeholder="{{ "address.streetPlaceholder"|trans|striptags }}"
                                   name="altShippingAddress[street]" value="{{ app.session.get('altShippingAddress').altShippingAddress.street|default('') }}"
                                   data-save-alt-shipping-address="true"
                                   data-action="{{ path('frontend.alengo.save_shipping_address') }}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="form-label"
                                   for="altShippingAddressZipcode">{{ "address.zipcodeLabel"|trans|sw_sanitize }}</label>
                            <input type="text" class="form-control" id="altShippingAddressZipcode"
                                   placeholder="{{ "address.zipcodePlaceholder"|trans|striptags }}"
                                   name="altShippingAddress[zipcode]" value="{{ app.session.get('altShippingAddress').altShippingAddress.zipcode|default('') }}"
                                   data-save-alt-shipping-address="true"
                                   data-action="{{ path('frontend.alengo.save_shipping_address') }}">
                        </div>

                        <div class="form-group col-md-8">
                            <label class="form-label"
                                   for="altShippingAddressCity">{{ "address.cityLabel"|trans|sw_sanitize }}</label>
                            <input type="text" class="form-control" id="altShippingAddressCity"
                                   placeholder="{{ "address.cityPlaceholder"|trans|striptags }}" name="altShippingAddress[city]"
                                   value="{{ app.session.get('altShippingAddress').altShippingAddress.city|default('') }}"
                                   data-save-alt-shipping-address="true"
                                   data-action="{{ path('frontend.alengo.save_shipping_address') }}">
                        </div>
                    </div>
                </div>
            </form>

            <script>
                function toggleAltShippingAddress() {
                    const checkbox = document.getElementById('altShippingAddressCheckbox');
                    const container = document.querySelector('.alt-shipping-address-container');
                    container.style.display = checkbox.checked ? 'block' : 'none';
                }
            </script>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block page_checkout_confirm_address_shipping_actions %}
    {% if config('AlengoShippingAddress.config.altShippingAddressDisableAddressChangeButtons')|default(false) === false %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_address_billing_actions %}
    {% if config('AlengoShippingAddress.config.altShippingAddressDisableAddressChangeButtons')|default(false) === false %}
        {{ parent() }}
    {% endif %}
{% endblock %}
